$red: #f26667
$yellow: #FFD647
$dark-yellow: #FCC446
$orange: #F1A065
$light-grey: #F7F7F7
$light-dark-grey: #CCCCCC
$border-grey: #EDEDED
$dark-grey: #454545
$animation: .2s

a
    text-decoration: none

@font-face
    font-family: 'Effra-Regular'
    src: url('fonts/effra/Effra-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/effra/Effra-Regular.woff') format('woff'), url('fonts/effra/Effra-Regular.ttf')  format('truetype'), url('fonts/effra/Effra-Regular.svg#Effra-Regular') format('svg')
    font-weight: normal
    font-style: normal


@font-face
    font-family: 'Effra-Light'
    src: url('fonts/effra/Effra-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/effra/Effra-Light.woff') format('woff'), url('fonts/effra/Effra-Light.ttf')  format('truetype'), url('fonts/effra/Effra-Light.svg#Effra-Light') format('svg')
    font-weight: normal
    font-style: normal

body
    margin: 0px
    display: flex
    background: $light-grey

html
    font-family: 'Effra-Regular', sans-serif

nav
    width: 100px
    position: fixed
    height: 100%
    overflow: hidden
    z-index: 99
    border-right: 1px solid $border-grey
    background: white

nav>ul
    margin: 0
    padding: 0
    text-align: center
    list-style: none

nav>ul>li
    overflow: hidden
    padding: 15px
    height: 70px

.logo
    overflow: hidden
    position: relative
    z-index: 2

.logo>div>svg
    width: 50px
    padding-top: 7px
    position: relative
    z-index: 1

.logo>div:after
    width: 100px
    height: 100px
    margin-top: -15px
    left: 0px
    content: ''
    border-radius: 50%
    display: inline-block
    position: absolute
    transition: all $animation ease-in-out
    transition-property: transform, border-radius
    transform: scale(0)


.logo:hover>div:after
    transform: scale(1.5) !important
    background: $red !important
    border-radius: 50% !important
    content: ''
    display: inline-block
    position: absolute

.logo>div>svg>path
    transition: $animation fill
    fill: $light-dark-grey
    transform-origin: center center

.logo:hover>div>svg>path
    animation: color $animation
    fill: $yellow

@-webkit-keyframes color
    0%
        fill: $light-dark-grey
    50%
        fill: #FFF0BB
    100%
        fill: $yellow

nav>ul>li:not(:last-child)>div:after
    width: 100px
    height: 100px
    margin-top: -15px
    left: 0px
    content: ''
    border-radius: 50%
    display: inline-block
    position: absolute
    transition: all $animation ease-in-out
    transition-property: transform, border-radius
    transform: scale(0)

nav>ul>li:not(:last-child):hover>div:after
    transform: scale(1)
    background: #F1F1F1
    border-radius: 0
    content: ''
    display: inline-block
    position: absolute

nav>ul>li:hover
    cursor: pointer

nav>ul>li:not(:last-child)>div>i
    color: $light-dark-grey
    padding-top: 20px
    position: relative
    z-index: 1
    transition: padding-top $animation ease-in-out

nav>ul>li:not(:last-child)>div>div
    color: white
    width: 100px
    transition: color $animation ease-in-out
    left: 0px
    position: absolute
    text-align: center
    margin: 0px
    padding: 0px

nav>ul>li:not(:last-child):hover>div>div
    z-index: 1
    color: $dark-grey

nav>ul>li:not(:last-child):hover>div>i
    color: $dark-grey
    padding-top: 10px
    position: relative
    z-index: 1

nav>ul>li:last-child
    position: absolute
    bottom: 0px
    height: auto
    color: $light-dark-grey
    font-size: 12px

nav>ul>li:last-child>i
    font-size: 10px



.container
    width: 960px
    display: block
    padding: 0px 60px
    padding-left: 160px
    flex: 1

.post
    margin: 60px 0px
    border-radius: 5px
    overflow: hidden
    background: white
    border: 1px solid $border-grey
    color: $dark-grey

.post-title
    padding: 0px 30px
    font-size: 36px
    padding-top: 80px
    padding-bottom: 20px
    color: white
    background-size: cover

.post-title>img
    float: right
    opacity: 0.75
    width: 40px
    margin-top: -45px
    padding: 5px
    display: inline-block
    border-radius: 50%
    transition: all $animation ease-in-out

.post-title>img:hover
    cursor: pointer
    float: right
    background: rgba(256, 256, 256, 0.1)
    opacity: 1
    width: 40px
    display: inline-block

.post-title>p
    margin: 0px
    font-size: 16px
    letter-spacing: 0.5px
    padding: 10px 0px
    text-transform: uppercase


.post-content
    padding: 0px 15px

.post-action
    border-top: 1px solid $border-grey
    padding: 25px 15px

.post-content>p
    margin: 5px
    font-family: 'Open Sans', sans-serif
    padding: 20px 10px
    font-size: 16px
    letter-spacing: .25px
    line-height: 40px
    color: $dark-grey

.btn
    border: none
    font-family: inherit
    font-size: inherit
    color: inherit
    background: none
    cursor: pointer
    padding: 15px 40px
    display: inline-block
    margin: 0px 10px
    margin-bottom: 15px
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: 700
    outline: none
    position: relative
    -webkit-transition: all $animation
    -moz-transition: all $animation
    transition: all $animation

.btn-2
    background: #cb4e4e
    color: #fff
    box-shadow: 0 6px #ab3c3c
    border-radius: 5px
    -webkit-transition: none
    -moz-transition: none
    transition: none

.btn-2:hover
    box-shadow: 0 4px #ab3c3c
    top: 2px

.btn-2:active
    box-shadow: 0 0 #ab3c3c
    top: 6px

.hero
    width: 100%
    margin: 30px 0px
    text-align: center

.hero>svg
    width: 140px

.hero>svg>g>path
    opacity: .6
    fill: $light-dark-grey

.hero>div
    display: block
    opacity: .6
    margin: auto
    font-weight: 600
    letter-spacing: .25px
    width: 180px
    padding: 10px 0px
    border-top: 2px solid $light-dark-grey
    border-bottom: 2px solid $light-dark-grey
    color: $light-dark-grey


.logo-mobile
    display: none

@media (max-width: 600px)
    nav
        width: 100%
        height: 80px
        border-right: 0px solid #EDEDED
        border-top: 1px solid #EDEDED
        bottom: 0px

    .container
        padding: 0px
        margin-top: 10px
        padding-bottom: 60px

    .post
        border-radius: 0px
        margin: 5px 0px

    nav>ul
        display: flex
        padding: 0px 0px
        height: 100%

    nav>ul>li
        display: inline-block
        height: 100%
        padding: 0px
        flex: 1

    nav>ul>li>div
        height: 100%

    nav>ul>li:last-child
        display: none

    nav>ul>li:not(:last-child)>div>i
        padding-top: 16px

    nav>ul>li:not(:last-child)>div>div
        color: $light-dark-grey
        width: auto
        position: relative

    nav>ul>li:not(:last-child)>div:after, nav>ul>li:not(:last-child)>div>div, nav>ul>li:not(:last-child)>div>i
        transition: all 0s !important
        color: $dark-grey !important


    nav>ul>li.share
        display: none

    nav>ul>li:not(:last-child):hover>div>i
        padding-top: 16px

    nav>ul>li:not(:last-child):hover>div:after
        width: 100% !important
        position: relative
        transform: scale(3)
        display: block

    .logo
        display: none

    .logo-mobile
        border-left: 1px solid $border-grey
        border-right: 1px solid $border-grey
        display: block

    .logo-mobile>div>svg
        padding-top: 13.5px


    .logo-mobile>div:after
        position: absolute !important
        display: inline-block !important

    .logo-mobile:hover>div:after
        transform: scale(3)
        width: 100% !important

    .logo-mobile>div:after, .logo-mobile>div>svg>path
        transition: all 0s !important
        animation: color 0s !important

    .logo-mobile>div>svg>path
        fill: $yellow


.dialog
    z-index: 999

.dialog, .dialog__overlay
	width: 100%
	height: 100%
	top: 0
	left: 0

.dialog
	position: fixed
	display: flex
	align-items: center
	justify-content: center
	pointer-events: none


.dialog__overlay
	position: absolute
	z-index: 1
	background: rgba(55, 58, 71, 0.9)
	opacity: 0
	transition: opacity 0.3s


.dialog--open .dialog__overlay
	opacity: 1
	pointer-events: auto

.dialog__content
    border-radius: 5px

.dialog__content
	width: 50%
	max-width: 560px
	min-width: 290px
	background: #fff
	padding: 4em
	text-align: center
	position: relative
	z-index: 5
	opacity: 0


.dialog--open .dialog__content
	pointer-events: auto

.dialog__content>span
    font-size: 14px
    color: $dark-grey

.dialog__content>textarea
    width: calc(100% - 22px)
    margin-top: 15px
    height: 100px
    padding: 10px
    border: 1px solid $light-dark-grey
    border-radius: 5px
    font-size: 16px
    font-family: 'Open Sans', sans-serif
    resize: none


.btn-flat
    background: $light-grey
    border-radius: 5px
    transition: all 0.1s ease-in-out
    color: $dark-grey

.btn-flat.done
    padding: 15px 30px

.btn-flat:hover
    background: #F1F1F1
/* Content */
.dialog h2
	margin: 0
	font-weight: 400
	font-size: 2em
	padding: 0 0 .5em
	margin: 0

.dialog__content>h2
    color: $dark-grey

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content
	animation-duration: 0.3s
	animation-fill-mode: forwards


.dialog.dialog--open .dialog__content
	animation-name: anim-open


.dialog.dialog--close .dialog__content
	animation-name: anim-close


@keyframes anim-open
	0%
        opacity: 0
        transform: scale3d(1.1, 1.1, 1)
	100%
        opacity: 1
        transform: scale3d(1, 1, 1)


@keyframes anim-close
	0%
        opacity: 1
	100%
        opacity: 0
        transform: scale3d(0.9, 0.9, 1)

.loader:before,
.loader:after,
.loader
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;

.loader
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

.loader:before
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;

.loader:after
  left: 3.5em;

.loader:before,
.loader:after
  content: '';
  position: absolute;
  top: 0;

@-webkit-keyframes load7
  0%,
  80%,
  100%
    box-shadow: 0 2.5em 0 -1.3em;

  40%
    box-shadow: 0 2.5em 0 0;


@keyframes load7
  0%,
  80%,
  100%
    box-shadow: 0 2.5em 0 -1.3em;

  40%
    box-shadow: 0 2.5em 0 0;
